@import "../setting/setting.scss";

.text{
    &__icon{
    font-size: $text-icon;
    color: #ffffff;
    line-height: 150%;
    text-align: center;
    padding: auto;
    }
	&__title{
    font-size: $text-title;
    color: #ffffff;
    line-height: 150%;
    text-align: center;
    padding: auto;
	}
    &__subtitle{
    font-size: $text-subtitle;
    color: #ffffff;
    line-height: 150%;
    text-align: center;
    padding: auto;
    }
    &__body{
    font-size: $text-body;
    color: #ffffff;
    line-height: 150%;
    text-align: center;
    padding: auto;
    }
    &__decoration{
    font-size: $text-decoration;
    color: #ffffff;
    line-height: 150%;
    text-align: center;
    padding: auto;
    }
}