{% extends "base--kitchin.html" %}
{% block global_navi %}
<div class="wrapper__main--multi">
	<div class="radio_button--activate_order">
    <input type="radio" id="activate" class="js-activate radio_button--activate_order__radio" name="activate_order" value="activate" checked="true">
      <label for="activate">Activate</label>
    <input type="radio" id="order" class="js-order radio_button--activate_order__radio" name="activate_order" value="order">
      <label for="order">Order</label>
  	</div>
    <div class="table_activate__wrap">
		{% for tables in tables %}
		<div class="table_activate">
		<div class="table_activate__table_number">Table {{tables[0]}}</div>
		<div class="table_activate__checkbox_aera">
			<!-- アクティベートされているかをチェック -->
			{% if tables[1] == 0 %}
  			<input type="checkbox" id="table_{{tables[0]}}" class="table_activate__checkbox">
  			{% else %}
  			<input type="checkbox" id="table_{{tables[0]}}" class="table_activate__checkbox" checked>
  			{% endif %}
    		<label for="table_{{tables[0]}}" class="table_activate__checkbox_label">
      			<div class="table_activate__checkbox_decoration"></div>
   			</label>
   		</div>
   		<div class="text__body">
   			QR確認 >
   		</div>
   		</div>
		{% endfor %}
    </div>
    <div class="order_list__wrap">
    </div>
</div>
{% endblock %}